header {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 0.7035189075630253) 21%, rgba(62, 135, 104, 0.6558998599439776) 55%);


    h1 {
        color: rgb(58, 45, 70);
        font-weight: normal;
        text-align: center;
    }
}



.botonPropio__2 {

    color: white;

}

.botonPropio__2:hover {

    background-color: rgba(94, 98, 116, 0.581);


}